db-uri = "postgres://xknof_conn_user:xknof_conn_password@pgm-rj9z1j6g3j2k070t.pg.rds.aliyuncs.com/xknof"
db-schemas = "app20250904195901yvsuhcayno_v1,public"
db-anon-role = "app20250904195901yvsuhcayno_v1_user"
server-port = 39216
jwt-secret = "sk_b32d973fc9de488a9bac808e74d72be8"
server-host = "127.0.0.1"
